
<div class="lander {{include.extra-class}}">
	<div class="cap"></div>
	<div class="cylinder">
		<div class="window"></div>
	
	</div>
    <div class="engine">
        <div class="bell"></div>
        <div class="fire"></div>
    </div>
	<div class="legs">
        <div class="leg left">
            <div class="stick"></div>
            <div class="base">
                <div class="base-top"></div>
            </div>                  
        </div>
        <div class="leg right">
            <div class="stick"></div>
            <div class="base">
                <div class="base-top"></div>
            </div>                  
        </div>
	</div>
</div>   
