<div class="lander2 {{include.extra-class}}">
	<div class="capsule">
		
		<div class="door"></div>
	</div>
	<div class="ladder"></div>
	<div class="legs">
		<div class="engine">
			<div class="bell"></div>	
			<div class="fire"></div>
		</div>
		<div class="engine">
			<div class="bell"></div>	
			<div class="fire"></div>
		</div>
			<div class="engine">
			<div class="bell"></div>	
			<div class="fire"></div>
		</div>
		<div class="engine">
			<div class="bell"></div>	
			<div class="fire"></div>
		</div>
		<div class="engine">
			<div class="bell"></div>	
			<div class="fire"></div>
		</div>
	</div>
</div>
